@media screen and (max-width: 1024px)
{
	.shows {
		margin-left: 20px;
	}

	.slideshow {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.slideshow-nav {
		clear: both;
		max-width: 100%;
	}

	.hero h2 {
		clear: both;
	}
}

@media screen and (min-width: 501px) and (max-width: 1024px) {
	.slideshow {
		max-width: 100%;
		float: none;
	}

	.hero h2 {
		text-align: center;
	}
}
@media screen and (max-width: 500px) {
	header .background {
		background-size: cover;
		height: 150px;
	}

	.item {
		width: 100%;
	}

	.now {
		float: none;
		width: 100%;
	}

	.latest {
		width: 100%;
		text-align: justify;
		padding-right: 0;
	}

	.latest img {
		float: none;
		width: 100%;
		margin: 15px 0;
	}

	.now section > div {
		width: 84%;
		margin: 0 8%;
	}

	.content {
		padding-bottom: 45px;
	}

	h1 {
		font-size: 33px;
		letter-spacing: 10px;
	}

	.slideshow img {
		width: 100%;
		height: auto;
	}

	.media iframe {
		width: 270px;
		height: 202px;
	}

	.lightbox {
		top: 50%;
		transform: translate(-50%, -50%);
	}

	h2, .hero h2 {
		text-align: center;
	}

	.crew-member {
		width: 50%;
		margin-bottom: 25px;
	}

	.social a {
		width: 60px;
	}
}