@media screen and (max-width: 1024px)
{
	.slideshow {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		height: 450px;
	}

	.slide .description {
		position: absolute;
		bottom: 0;
		right: 0;
		height: auto;
		padding: 10px;
		background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6), transparent);
	}

	.slide .description > * {
		display: none;
	}

	.slide .description h2 {
		display: block;
		text-align: right;
		font-size: 1.2em;
		margin-bottom: 5px;
	}

	.slide a[rel="details"] {
		display: block;
		text-align: right;
	}

	.slide .media,
	.slide .description {
		width: 100%;
		float: none;
	}

	.slideshow-nav {
		clear: both;
		max-width: 100%;
		width: 100%;
	}

	.hero h2 {
		clear: both;
	}

	#details {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		transition: opacity .75s ease-in-out;
		-webkit-transition: opacity .75s ease-in-out;
		opacity: 0;
		display: none;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: 25;
	}

	.detail-popup {
		display: none;
	}

	.detail-popup.selected {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 80%;
		margin: 10%;
		margin-top: 250px;
		background-color: #696969;
		padding: 25px;
	}

	#detail-close {
		position: fixed;
		top: 10px;
		right: 10px;
		background-color: #F6840A;
		border-radius: 10px;
		height: 20px;
		width: 20px;
		font-size: 0.8em;
		font-weight: bold;
		text-align: center;
		z-index: 26;
		padding-top: 2px;
	}

	#detail-close::after {
		content: 'X';
	}
}

@media screen and (min-width: 501px) and (max-width: 1024px) {
	.slideshow {
		max-width: 100%;
		float: none;
	}

	.hero h2 {
		text-align: center;
	}

	.detail-popup.selected {
		margin-top: 50px;
	}
}
@media screen and (max-width: 500px) {
	header .background {
		background-size: cover;
		height: 150px;
	}

	.item {
		width: 100%;
	}

	.now {
		float: none;
		width: 100%;
	}

	.latest {
		width: 100%;
		text-align: justify;
		padding-right: 0;
	}

	.latest img {
		float: none;
		width: 100%;
		margin: 15px 0;
	}

	.now section > div {
		width: 84%;
		margin: 0 8%;
	}

	.content {
		padding-bottom: 45px;
	}

	h1 {
		font-size: 33px;
		letter-spacing: 10px;
	}

	.slideshow img {
		width: 100%;
		height: auto;
	}

	.lightbox {
		top: 50%;
		transform: translate(-50%, -50%);
	}

	h2, .hero h2 {
		text-align: center;
	}

	.crew-member {
		width: 50%;
		margin-bottom: 25px;
	}

	.social a {
		width: 60px;
	}

	.detail-popup.selected {
		margin-top: 50px;
	}
}