/*
	brown: #2F1C05;
	white: #FAF8F6;
	orange: #F6840A;
	gray: #1C201F;
*/

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;;
}

body {
	background-color: #1C201F;
	margin: 0;
	padding: 0;
	color: #FFF;
	font-family: Oxygen, Arial, sans-serif;
	background-image: url(images/noisy/noisy.png);
}

header .background {
	height: 250px;
	width: 100%;
	background-color: #000;
	background-image: url(images/milky-way.jpg) /* https://pixabay.com/en/milky-way-universe-person-stars-1023340 */;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: contain;
	padding: 1px;
}

header .lines {
	border: solid #F6840A;
	border-width: 4px 0;
	height: 25px;
	background-color: #000;
	position: relative;
}

header .lines::before {
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	top: -27px;
	transform: translateX(-50%);
	width: 0;
	border: solid 27px #F6840A;
	border-top-width: 0;
	border-left-color: transparent;
	border-right-color: transparent;
}

header .lines::after {
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	top: -21px;
	transform: translateX(-50%);
	width: 0;
	border: solid 17px #000;
	border-top-width: 0;
	border-left-color: transparent;
	border-right-color: transparent;
}

h1 {
	color: #FAF8F6;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 50px;
	letter-spacing: 17px;
	margin: 0;
	padding-bottom: 0px;
	background: linear-gradient(#2F1C05, transparent);
	font-family: Audiowide;
}

h2, h3, h4 {
	font-weight: normal;
	margin: 0 0 5px 0;
	text-align: center;
	font-family: Audiowide;
}

h2 {
	margin: 0 0 15px 0;
}

h4 {
	font-weight: bold;
}

p {
	margin: 0 0 10px 0;
	line-height: 20px;
}

p:last-child {
	margin-bottom: 0;
}

a {
	color: #F6840A;
}

a[rel="details"] {
	display: none;
}

blockquote {
	padding: 5px 15px;
	border-left: 4px #F6840A solid;
	margin-left: 0;
	margin-right: 0;
}

blockquote b,
blockquote i {
	color: #BBB;
}

.tagline {
	/*font-family: Audiowide;*/
	text-align: center;
	padding-bottom: 40px;
	font-size: 16px;
	letter-spacing: 1px;
}

.see-us {
	padding-top: 20px;
	text-align: center;
	padding-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.1);
	margin-bottom: 40px;
	box-shadow: 0 3px 12px #111;
}

.quotes {
	text-align: center;
	margin-bottom: 40px;
	position: relative;
}

.quote {
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.5em;
	padding: 0 14%;
}

#quoteSlider > div {
	width: 100%;
}

.attribution {
	font-style: italic;
}

.media {
	width: 420px;
	height: 315px;
}

.pull-left {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.pull-right {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

.more {
	display: none;
}

.clearfix {
	clear: both;
}

.content {
	min-height: 110%;
	background-color: rgba(0,0,0,.8);
	padding-bottom: 50px;
}

.limiter {
	width: 90%;
	margin: 0 auto;
	max-width: 1455px;
	overflow: hidden;;
}

.row {
	margin-top: 25px;
	clear: both;
	overflow: hidden;
}

header .limiter {
	overflow: visible;
}

header nav {
	font-weight: bold;
	font-size: 24px;
	clear: right;
	position: relative;
	top: 106px;
	left: 50px;
	display: none;
}

header nav ul {
	padding: 0;
	margin: 0;
}

header nav li {
	display: inline-block;
	margin: 0 8px;
}

header nav a {
	color: #4A4857;
	text-decoration: none;
}

header nav .selected a::before {
	content: '\00bb';
}

article {
	padding-bottom: 40px;
}

.social {
}

.social ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

.social li {
	display: inline-block;
	margin: 8px 0 3px;
}

.social a {
	display: block;
	text-indent: -9999px;
	width: 75px;
	height: 75px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 7px;
}

.social .facebook {
	background-image: url(images/facebook.png);
}

.social .instagram {
	background-image: url(images/instagram.png);
}

.social .soundcloud {
	background-image: url(images/soundcloud.png);
}

.social .youtube {
	background-image: url(images/youtube.png);
}

.info {
	text-align: center;
	margin-bottom: 0;
}

.info img {
	width: 100%;
	margin-bottom: 10px;
}

.contact-icon {
	font-weight: bold;
	color: #BBB;
}

.email {
	text-align: center;
}

.contact-icon-email::before {
	content: '@';
	position: relative;
	top: -2px;
}

.item {
	display: inline-block;
	margin: 0 15px 15px 0;
}

.info-item {
	margin: 0 15px 15px 0;
}

.latest {
	width: 70%;
	padding-right: 30px;
}

.latest h2 {
	margin-top: 30px;
}

.latest h2:first-child {
	margin-top: 0;
}

.latest h3
{
	font-weight: bold;
}

.latest h3::before {
	content: '\00bb\00a0';
}

.latest article
{
	width: 84%;
	margin: 0 8%;
	overflow: hidden;
}

.latest img {
	width: 38%;
}

.stream {
	text-align: center;
	margin-bottom: 30px;
}

.now {
	float: right;
	width: 30%;
}

.now section {
	margin-bottom: 30px;
}

.hero h2 {
	text-align: left;
}

.shows {
	overflow: hidden;
	max-width: 500px;
	margin: 0 auto;
}

.hero .shows {
	max-width: none;
	margin: 15px 0;

}

.shows .posters {
	background-color: #000;
	display: inline-block;
}

.shows .posters a {
	outline: none;
	text-decoration: none;
}

.shows img {
	width: 350px;
	vertical-align: middle;
}

.show {
	padding: 15px 20px;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.1);
	border: solid #F6840A;
	border-width: 2px 0 0 0;
}

.show:nth-child(2n+1) {
	background-color: rgba(255, 255, 255, 0.2);
}

.show:last-child {
	border-bottom-width: 2px;
}

.show-name {
	color: #F6840A;
}

.show-name a {
	color: #F6840A;
}

.show-date,
.show-name {
	font-size: 1.1em;
	font-weight: bold;
}

.show-left {
	float: left;
	font-size: 32px;
	margin-right: 15px;
}

.show-right {
	overflow: hidden;
}

.show p {
	margin: 0 30px 4px 0;
}

.no-shows p {
	white-space: normal;
	float: none;
}

.show-date,
.show-location {
	color: #CCC;
}

.show-location {

}

.past-shows {
	text-align: center;
}

.past-shows .poster {
	display: inline-block;
	width: 100%;
	max-width: 200px;
	height: 300px;
	background-color: rgba(0, 0, 0, 0.2);
	vertical-align: top;
	padding-top: 150px;
}

.past-shows .poster img {
	display: inline;
	width: 100%;
	transform: translateY(-50%);
}

.instagram {
	margin-top: 55px;
}

.slideshow {
	position: relative;
	text-align: center;
	margin-bottom: 12px;
	margin-right: 25px;
	height: 450px;
	width: 100%;
}

.slideshow-nav {
	text-align: center;
	margin-bottom: 25px;
}

.slideshow-nav a {
	margin: 0 10px;
	cursor: pointer;
}

.slideshow-nav .selected {
	border-bottom: solid 1px;
}

.slide {
	position: relative;
	z-index: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;
}

.slide .media,
.slide .description {
	float: left;
	height: 100%;
}

.slide .media {
	width: 50%;
}

.slide .description {
	width: 50%;
	padding: 20px;
	text-align: left;
}

.slide img
{
	width: 100%;
}

#albumAnnouncement img {
	position: relative;
	top: -135px;
}

#hearingAideReview .media,
#cityReview .media {
	background-color: #FFF;
}

#cityReview img {
	position: relative;
	top: 50px;
}

.video {
	width: 100%;
	height: 100%;
}

.video iframe {
	float: left;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 10;
}

.blanket, .lightbox {
	transition: opacity .75s ease-in-out;
	-webkit-transition: opacity .75s ease-in-out;
	opacity: 0;
	display: none;
	position: fixed;
}

.blanket-show,
.lightbox-show {
	display: block;
}

.blanket-fade-in {
	opacity: 0.8;
}

.lightbox-fade-in {
	opacity: 1;
}

.blanket-fade-out,
.lightbox-fade-out {
	opacity: 0;
}

.blanket {
	position: fixed;
	background-color: #000;	
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 15;
}

.blanket.blanket-show {
	display: block;
}

.lightbox.lightbox-show {
	display: block;
}

.lightbox {
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	width: 500px;
	max-width: 100%;
	z-index: 16;
	box-shadow: #333 0 0 250px 2px;
	border: solid black 3px;
}

.lightbox img {
	width: 100%;
	display: block;
}

.lightbox-close {
	position: absolute;
	bottom: -18px;
	right: 0;
	font-size: 11px;
	color: #FFF;
	text-transform: uppercase;
	cursor: pointer;
}

footer {
	margin-top: 30px;
	clear: both;
	border-top: solid 15px #86C28B;
	box-shadow: 0 -3px 0 #859987;
	background-color: #6DA67A;
	color: #4A4857;
	padding: 10px 0;
	text-align: center;
	color: #FFF;
}

footer a {
	color: #4A4857;
}

.crew-member {
	padding: 0 10px;
	margin-bottom: 35px;
}

.crew-photo {
	width: 60%;
	margin: 0 auto 15px;
	box-shadow: 0 5px 20px 0 #111;
}

.crew-photo img {
	width: 100%;
	display: block;
}

.bio-subtitle {
	text-align: center;
}

.credits {
	margin: 10px 0 25px;
	text-align: center;
}

#details {
	display: none;
}

#detail-close {
	display: none;
}