h1, h3 {
	background: transparent;
	text-align: center;
}

blockquote {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	border: none;
}

.image {
	width: 80%;
	margin: 0 auto;
}

.bio > p {
	text-align: justify;
	clear: both;
}

.limiter {
	width: 70%;
	max-width: 800px;
	margin: 0 auto;
	padding: 50px 0;
}

.album {
	width: 70%;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 20px;
	margin: 0 auto;
}

.album .glyphicon {
	top: 3px;
	margin-right: 5px;
}

.art {
	padding-right: 20px;
}

.album p {
	text-align: center;
}

.album ol {
	padding-left: 25px;
}

.contact-info {
	text-align: center;
}

img {
	width: 100%;
}

section {
	margin: 50px 0;
}

@media screen and (max-width: 500px) {
	h1, h2, h3 {
		text-align: center;
	}

	.album .left {
		float: none;
		width: 100%;
	}

	.album .art {
		text-align: center;
		margin-bottom: 20px;
	}
}